<div class="heightVh">
  <mat-grid-list cols="12" rowHeight="fit" class="heightVh" gutterSize="0px">
    <mat-grid-tile colspan="1" [class.fixed-width-extended]="extendedNav" rowspan="12" class="heightVh fixed-width"  style="background-color: #D9D9D9; z-index: 3;">
      <app-sidenav (extendedNavChange) = "handleExtendedNavChange($event)"></app-sidenav>
    </mat-grid-tile>
    <mat-grid-tile colspan="11" rowspan="1" style="background-color: #D9D9D9; z-index: 2;">
      <app-header></app-header>
    </mat-grid-tile>
    <mat-grid-tile colspan="11" rowspan="11" class="heightVh" id="dashboard-css">
      <router-outlet></router-outlet>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<span id="copyright">Faculty of Computer Science and Engineering ©</span>
<span id="header-background"></span>
